<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= settings.name %> - <%= __('errors.banned.title') %></title>
    <link rel="stylesheet" href="./assets/tailwind.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-100 min-h-screen flex flex-col font-['Inter']">
    <main class="flex-grow flex items-center justify-center p-8">
        <div class="py-8 px-6 md:py-12 md:px-8 max-w-xl w-full">
            <div class="flex justify-center mb-8">
                <img src="./assets/logo-text.png" class="h-12" alt="Logo">
            </div>

            <h1 class="text-center text-4xl tracking-tight font-bold text-gray-900 mb-4"><%= __('errors.banned.title') %></h1>
            <p class="text-gray-600 text-center mt-1 text-sm mb-4">
                <%= __('errors.banned.description') %>
            </p>

            <div class="relative mt-6">
                <span class="absolute -top-3 left-4 bg-gray-900 text-gray-700 text-xs uppercase tracking-wide px-2 py-0.5 rounded-md font-bold"><%= __('errors.common.account_details_label') %></span>
                <div class="bg-gray-200/50 rounded-xl p-5 pt-6 min-h-[60px] max-h-[200px] overflow-auto shadow-inner">
                    <pre class="m-0 whitespace-pre-wrap break-words font-mono text-sm text-gray-700"><code><%= __('errors.banned.reason') %>: <%= banReason %>
<%= __('errors.banned.expiration') %>: <%= banExpiration ? new Date(banExpiration).toLocaleString() : __('errors.banned.permanent') %></code></pre>
                </div>
            </div>

            <div class="mt-8 text-center">
                <a href="/" class="hover:bg-gray-800 bg-gray-700 text-white font-medium py-2 px-4 rounded-full transition hover:scale-95">
                    <%= __('errors.common.go_home') %>
                </a>
            </div>
        </div>
    </main>
</body>
</html>
